*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* header */

#header {
    background-color: rgb(44, 62, 80);
}




#slideshow {
    background-color: rgb(26, 188, 156);
}


#portfolio {
    background-color: white;
}

.w-15 {
    width: 15%;
}

#img_portfolio, #content_about, #form{
    height: calc(100% - 110px);
}

#about {
    background-color: rgb(26, 188, 156);
}

#contact {
    height: 598px;
    background-color: white;
}

#info {
    height: 200px;
    background-color: #3A546D;
}

#footer {
    height: 98px;
    background-color: rgb(44, 62, 80);
}