*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* header */

#header {
    background-color: rgb(44, 62, 80);
}




#slideshow {
    background-color: rgb(26, 188, 156);
}


#portfolio {
    background-color: white;
}

.w-15 {
    width: 15%;
}


#about {
    background-color: rgb(26, 188, 156);
}

#contact {
    background-color: white;
}

#info {

    background-color: #3A546D;
}

#footer {
    background-color: rgb(44, 62, 80);
}


.form-control {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 0;
    border-radius: 0;
}


.form-label{
    margin-bottom: 0px;
}


.submit {
    background-color: rgb(26, 188, 156);
}


#social {
    width: 2em;
    height: 2em;
    margin: 0 0.5em;
}

.green-text {
    color: rgb(26, 188, 156);
}

#portfolio i{
    visibility: hidden;
}

#gallery:hover i {
    visibility: visible;
    z-index: 2;
}

#gallery:hover img {
    filter: saturate(0.6);
}

.green-filter {
    opacity: 50%;
    visibility: hidden;
    background-color: rgb(26, 188, 156);
    position: absolute;
    width: calc(100% - 1rem);
}

#gallery:hover .green-filter{
    visibility: visible;
    z-index: 1;

}